.chart-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .go-back-button {
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    z-index: 100;
  }
}
